* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: Transcity ;
    src: url(./assets/Fonts/Transcity\ DEMO.otf);
}

@font-face {
    font-family: Instrument-Serif;
    src: url(./assets/Fonts/InstrumentSerif-Regular.ttf);
}

.main-container {
    display: flex;
}

.side-bar {
    background-color: black;
    color: white;
    min-height: 100vh;
    flex-basis: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top-right-radius: 10px;
}

.logo {
    text-align: center;
    font-size: 3.5rem;
    font-family: Transcity;
    margin-bottom: 50px;
    margin-top: 20px;
}

.list-items{
    line-height: 50px;
    list-style: none;
}

.list-item {
    padding-left: 20px;
    transition: background-color 0.1s ease;
    transition: font-weight 0.1s ease;
}

.list-item:hover,
.list-item.active{
    background-color: white;
    color: black;
    font-weight: 600;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.project-button {
    margin-top: auto ;
    max-width: 180px;
    min-height: 35px;
    margin-left: 26%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1rem;
    border: 2px solid black;
    transition: 0.1s ease;
    margin-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.project-button:hover {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
    border: rgb(144, 145, 152);
    transition: 0.4s ease;
}

.project-button:active {
    box-shadow: none;
}

.content-area {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    background-color: white;
}

.user-name {
    min-height: 8vh;
    align-content: center;
    color: grey;
    font-size: 2rem;
    padding-left: 10px;
}

.announcements {
    min-height: 5vh;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 30px;
}

.searchbar {
    min-height: 6vh;
    align-content: center;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.searchbar input {
    flex-basis: 700px;
    height: 40px;
    border-radius: 20px;
    padding-left: 30px;
}

.title {
    margin-left: 10px;
    margin-top: 7px;
    color: rgb(107, 106, 106);
}

.project-section {
    flex-basis: 77.3vh;
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.project-card {
    border: 1px solid black;
    max-width: 450px;
    flex-basis: 430px;
    min-height: 19vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.to-dos {
    border: 2px dashed rgb(255, 170, 0);
    min-height: 15vh;
    color: grey;
    font-size: 0.95rem;
    padding: 5px 5px;
    border-radius: 10px;
    margin-top: 10px;
}

.project-title {
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-header {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.project-title {
    margin-right: auto;
}

.project-btn {
    background-color: white;
    padding: 4px;
    font-family: 'Courier New', Courier, monospace;
    transition: box-shadow 0.3s ease;
    transition: 0.1s ease;
}

.project-btn.add {
    border: 1px solid rgb(71, 195, 13);
}

.project-btn.add:hover {
    box-shadow: rgb(42, 182, 0) 0px 2px 5px -1px, rgba(42, 182, 0) 0px 1px 3px -1px;
    transition: 0.4s ease;
}

.project-btn.add:active {
    box-shadow: none;
}

.project-btn.del {
    border: 1px solid red;
    transition: box-shadow 0.3s ease;
    transition: 0.1s ease;
}

.project-btn.del:hover {
    box-shadow: rgb(255, 0, 0) 0px 2px 5px -1px, rgb(255, 0, 0) 0px 1px 3px -1px;
    transition: 0.4s ease;
}

.project-btn.del:active{
    box-shadow: none;
}

.to-do {
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}



.toDoDesc {
    font-size: 0.9rem;
}

.toDoPriority,
.toDoDueDate {
    font-size: 0.8rem;
}

.low-priority {
    color: green;
}

.high-priority {
    color: rgb(176, 4, 4);
}

.medium-priority {
    color: darkorange;
}

.project-modal {
    position: absolute;
    min-height: 10vh;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border: 2px solid rgb(255, 191, 0);
    background-color: rgb(255, 255, 255);
    opacity: 0;
    scale: 0.95;
    visibility: hidden;
}

.project-modal-opened {
    opacity: 1;
    transform: none;
    visibility: visible;
}




